__pycache__/
*.pyc
*.pyo
*.pyd
*.log

venv/
env/
.venv/

instance/
*.db
*.sqlite3
users.db

uploads/
media/
tmp/

.env
*.env


.DS_Store
Thumbs.db
.vscode/
.idea/


__cache__/
.cache/
